<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Owner" [(ngModel)]="searchOwner">
        <input #input type="text" placeholder="Body" [(ngModel)]="searchBody">
        <input #input type="text" placeholder="Category" [(ngModel)]="searchCategory">
        <input #input type="text" placeholder="Status" [(ngModel)]="searchStatus">
    </li>
    <li class="list-group-item list-group-item-info">Todos</li>
    <li *ngFor="let todo of todos | async | filterBy: {owner: searchOwner}" class="list-group-item">
        Owner: {{ todo.owner }} <br/>
        Body: {{ todo.body }} <br/>
        Category: {{ todo.category }} <br/>
        ID: {{ todo._id }} <br/>
        Status: {{ todo.status }}
    </li>
</ul>
